h2 {
  margin-top: 0;
  margin-bottom: 0.6em;
}
h1 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 0.6em;
}
td, th {
  border-bottom: solid #3C3D4C 1px;
  padding: 5px;
}
td {
  font-size: .9em;
}
.backBut {
  margin-top: 1em;
}
/*classes pré-set*/
.magreza {
  color: #F7C629;
}
.normal {
  color: #50DA4D;
}
.obes {
  color: #FF5555;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  td, th {
    font-size: 0.8em;
  }
  .backBut {
    width: 100%;
  }
}