.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E32;
  padding: 1.5em;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10vw;
    flex-direction: column;
  }
}